@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover, .nav-link.active {
    color: rgb(95, 207, 128) !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item:hover, .dropdown-item.active, .dropdown-item:focus {
    color: rgb(95, 207, 128) !important;
    background-color: transparent !important;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.index::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../img/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.btn:focus {
    box-shadow: none !important;
}

#options .card:hover {
    border-color: rgb(95, 207, 128);
}

#options .card:hover .card-body h5 a {
    color: rgb(95, 207, 128) !important;
}

#courses h6::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: rgb(154, 225, 175);
    margin: 4px 10px;
}

#form-section .row .d-flex i:hover {
    color: #fff !important;
    background: #5fcf80 !important;
}

form input[type="text"]:focus, form input[type="email"]:focus, textarea.form-control:focus {
    box-shadow: none;
    border: 2px solid rgb(70, 107, 70);
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #fff !important;
    opacity: 1 !important;
    border: 1px solid #5fcf80 !important;
}

.swiper-pagination-bullet-active {
    background-color: #5fcf80 !important;
}

footer .footer-top a:hover {
    color: #5fcf80 !important;
}

footer input[type="email"]:focus-visible {
    outline: none;
}


@media(max-width: 767px) {
    .testimonies-item {
        padding: 30px !important;
        margin: 15px !important;
    }

    .testimonies-item .top-section img {
        position: static;
        left: auto;
    }

    .testimonies-item .top-section h5 {
        font-size: 14px !important;
    }

    .testimonies-item .top-section p {
        font-size: 12px !important;
    }

    .testimony p {
        padding-bottom: 0px !important;
        padding-right: 5px !important;
    }
}